<div class="container">
  <h2 style="text-align: center; border: 10px solid #dddddd;">EMPLOYEE DATA</h2>
  &nbsp;
  <table border="5" class="table table-hover table-striped table-bordered table-sm ;">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Job</th>
        <th>Hire Date</th>
        <th>ManagerID</th>
        <th>Salary</th>
        <th>Comission</th>
        <th>Department No</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.empno}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.job}}</td>
        <td>{{emp.hiredate}}</td>
        <td>{{emp.managerid}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.commission}}</td>
        <td>{{emp.deptno}}</td>
      </tr>
    </tbody>
  </table>
</div>
